{% extends "base.html" %}
{% block content %}
<h3>Iniciar sesión</h3>
<form method="POST" action="{{ url_for('lo') }}">
  <div class="mb-3">
    <label for="usuario" class="form-label">Usuario</label>
    <input type="text" class="form-control" id="usuario" name="usuario" required>
  </div>
  <div class="mb-3">
    <label for="contraseña" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="contraseña" name="contraseña" required>
  </div>
  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  <button type="submit" class="btn btn-info">Entrar</button>
</form>
{% endblock %}